<li class="list-group-item d-flex align-items-center justify-content-between user_list_item">
  <%= link_to truncate(user.username, length: 25), user_path(user), class: "ms-2 me-auto username" %>
</li>