<h4>Rooms</h4>
<%= render partial: "rooms/form" %>

<div>
  <div id="rooms">
    <%= render @rooms %>
  </div>
</div>

<div id="messages" data-controller="scroll">
  <%= render @messages %>
</div>
<%= render partial: "messages/form" %>
</div>